# Movies Tonight Part 2: SQL DDL

In [1]:
%load_ext sql

1. **Create / Reset a SQLite database.** 
    - Name the database `Movies.db`.
    - Add `DROP TABLE IF EXISTS` queries make sure you have a blank database. 
    - Use SQL comments to ay what each line does
    
Tables needed: Movie, Theatre, Artist, Credit, Show

In [2]:
%sql sqlite:///Movies.db

'Connected: @Movies.db'

In [3]:
%%sql
-- drops tables if they exist to ensure that the database is in fact blank --
DROP TABLE IF EXISTS MOVIES;
DROP TABLE IF EXISTS THEATRE;
DROP TABLE IF EXISTS ARTIST;
DROP TABLE IF EXISTS CREDIT;
DROP TABLE IF EXISTS SHOW;

 * sqlite:///Movies.db
Done.
Done.
Done.
Done.
Done.

[]

2. **Use SQL Create Table commands to implement the table designs you created in Part 1.** 
    - Take care with your data types! (You do not need to populate them yet. Thatâ€™s Part 3.) 
    - Use a surrogate key for the primary key of each table. The data type descriptor is `INTEGER PRIMARY KEY`.
    - If you make a mistake, recreate the database from scratch using your code from step 1 above.

In [4]:
%%sql
CREATE TABLE MOVIES (
    MID INTEGER PRIMARY KEY, 
    Mtitle TEXT NOT NULL, 
    Rating TEXT    
);

 * sqlite:///Movies.db
Done.

[]

In [7]:
%%sql
CREATE TABLE THEATRE (
    TID INTEGER PRIMARY KEY,
    Tname TEXT NOT NULL,
    Phone TEXT NULL,
    Location TEXT NOT NULL 
);

 * sqlite:///Movies.db
Done.

[]

In [8]:
%%sql
CREATE TABLE ARTIST (
    AID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///Movies.db
Done.

[]

In [10]:
%%sql
CREATE TABLE SHOW (
    SID INTEGER PRIMARY KEY,
    MID INTEGER NOT NULL,
    TID INTEGER NOT NULL,
    STime TEXT NOT NULL,
    FOREIGN KEY (MID) REFERENCES MOVIES (MID),
    FOREIGN KEY (TID) REFERENCES THEATRE (TID)
);

 * sqlite:///Movies.db
Done.

[]

In [13]:
%%sql
CREATE TABLE CREDIT (
    CID INTEGER PRIMARY KEY,
    CCode TEXT NOT NULL,
    AID INTEGER NOT NULL, 
    MID INTEGER NOT NULL,
    FOREIGN KEY (AID) REFERENCES ARTIST (AID),
    FOREIGN KEY (MID) REFERENCES MOVIES (MID)

);

 * sqlite:///Movies.db
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [ ]:
YOUR CODE HERE

4. **Save, add, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 2".

In [14]:
%%sql
SELECT * FROM sqlite_master;

 * sqlite:///Movies.db
Done.

[('table', 'MOVIES', 'MOVIES', 2, 'CREATE TABLE MOVIES (\n    MID INTEGER PRIMARY KEY, \n    Mtitle TEXT NOT NULL, \n    Rating TEXT    \n)'),
 ('table', 'THEATRE', 'THEATRE', 3, 'CREATE TABLE THEATRE (\n    TID INTEGER PRIMARY KEY,\n    Tname TEXT NOT NULL,\n    Phone TEXT NULL,\n    Location TEXT NOT NULL \n)'),
 ('table', 'ARTIST', 'ARTIST', 4, 'CREATE TABLE ARTIST (\n    AID INTEGER PRIMARY KEY,\n    Name TEXT NOT NULL\n)'),
 ('table', 'SHOW', 'SHOW', 5, 'CREATE TABLE SHOW (\n    SID INTEGER PRIMARY KEY,\n    MID INTEGER NOT NULL,\n    TID INTEGER NOT NULL,\n    STime TEXT NOT NULL,\n    FOREIGN KEY (MID) REFERENCES MOVIES (MID),\n    FOREIGN KEY (TID) REFERENCES THEATRE (TID)\n)'),
 ('table', 'CREDIT', 'CREDIT', 6, 'CREATE TABLE CREDIT (\n    CID INTEGER PRIMARY KEY,\n    CCode TEXT NOT NULL,\n    AID INTEGER NOT NULL, \n    MID INTEGER NOT NULL,\n    FOREIGN KEY (AID) REFERENCES ARTIST (AID),\n    FOREIGN KEY (MID) REFERENCES MOVIES (MID)\n\n)')]